/* FIGYELEM!  font-size: 0 */


/* HÁTTÉRKÉP */
main {
    background-image: linear-gradient( 
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.4)), url("imageArunachala/hatter.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-attachment: fixed;
    background-size: cover;
}


/* FŐCÍM */
h1 {
    text-align: center;
    margin-bottom: 0.2rem;
    font-family: 'MonteCarlo', cursive;
}


/* T: BODY és MAIN */
body {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    width: 100%;
    height: 100vh;
}



/* T: ABLAK:  SÁV KÖZÉP SÁV     (sávban nyíl, középben képdoboz s abban kép) */
#ablak {
    /* display: flex;
    justify-content: center; */
    max-width: 40%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}


.kozep {
    /* flex-grow: 3; */
    background-color: crimson;
}

.kepdoboz {
    max-width: 61%;
    /* max-height: 50vh; */
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    /* object-fit: scale-down; */
}

.kep {
    /* flex-basis: 3; */
    /* width: 100%; */
    height: 50vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;    

}


.sav {
    /* flex-grow: 1; */
    background-color: chartreuse;
}

.balra {
    left: 10%;
}

.jobbra {
    transform: rotate(180deg);
    right: 10%;
}

.nyil {
    width: calc(1.5rem + 1vw);
    margin: 0;
    /* background-color: forestgreen; */
    position: absolute;
    top: 35%;
}



/* THUMBNAILEK */

h3 { 
    /* padding: 0; */
}

#keptarvalaszto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 90%;
    /* max-height: 5vh; */
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(0.1rem + 1.0vh);
    /* margin-bottom: calc(100.1rem + 100.0vh); */
    /* border-bottom: 25px solid rgba(177, 31, 31, 0.137); */
    border-radius:5%;
}

.thumbnail {
    display: flex;
    height: calc(0.1rem + 6.0vh);
    margin: calc(0.1rem + 0.7vw);
    margin-bottom: 10px;
    border: 5px double rgb(172, 44, 44);
    border-radius:5%;
    opacity:0.2;
}

.thumbnail:hover {
    opacity: 0.7;
    transform: scale(1.3)
}


.clicked {
    text-align: center;
}